@forward "vars";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  @media only screen and (min-width: 900px) {
    padding: 3rem 15rem;
  }
  @media only screen and (max-width: 900px) {
    padding: 1rem 0rem;
  }
}
.logo {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -2px;
}

.main-body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
.small-title{
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
.big-title{
  font-family: "Kumbh Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
